* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #212121;
}
body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.main-nav{
    height: 48px;
    font-size: 1.3rem;
    padding: 4px;
    display: flex;
    justify-content: flex-end;
}
.right-nav{
    width: 254px;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.right-nav .right-nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}
.right-nav .right-nav-images{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-nav-links li{
    padding-left: 15px;
}
.right-nav-images .apps-icon{
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.apps-icon img{
    width: 20px;
}
.right-nav-images .account-image{
    display: flex;
    padding-right: 10px;
    align-items: center;
    border-radius: 20px;
}
.account-image img{
    width: 35px;
    border-radius: 20px;
}
main{
    text-align: center;
}
main .main__logo{
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
main .main__searchInputContainer{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
main .main__searchInput{
    width: 584px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e3e5e8;
    border-radius: 100px;  
}
.main__searchInput input{
    width: 510px;
    height: 34px;
    border: none;
    outline: none;
}
.google-micro,.google-searchIcon{
    width: 40px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.google-searchIcon img{
    width: 15px;
    height: auto;
}
.google-micro{
  padding-right: 15px;
}
main .main__searchInput:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main__searchButtons{
    width: 584px;
    height: 88px;
    margin: 0 auto;
    padding-top: 18px;
}
.main__searchButtons button{
    box-sizing: initial;
    width: 109px;
    height: 34px;
    padding: 0 16px;
    margin: 4px 11px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-size: 1.4rem;
}
.main__searchButtons button:hover{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    border-color: #dadce0;
    cursor: pointer;
}
main .language__indicator{
    width: 100%;
    height: fit-content;
    font-size: 1.3rem;
    color: #222222;
}
.language__indicator a{
    color: #1a0dab;
} 
footer{
    width: 100vw;
    height: 98px;
    font-size: 1.5rem;
    background-color: rgb(242 242 242);
    color: rgba(0,0,0,.54);
    position: absolute;
    bottom: 0;
}
footer .footer__countryInfo {
    padding: 15px 30px;
}
footer .footer__nav {
    width: 100vw;
    height: 49px;
    padding: 0px 20px;
    border: 1px solid #dadce0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer .footer__nav--leftList{
    list-style: none;
    display: flex;
    align-items: center;
}
footer .footer__nav--rightList{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer__nav--leftList li, .footer__nav--rightList li{
    padding: 15px 15px;
}
.footer__nav a{
    color: rgba(0,0,0,.54);
}
.footer__nav a:hover{
    text-decoration: underline;
}